h1, h2, h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700; }

p, a {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.centerText {
  text-align: center; }

.forceWrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

img {
  width: 100%;
  height: auto; }

.container {
  margin-top: 40px; }

.topPaddingSm {
  padding-top: 20px; }

.topMarginSm {
  margin-top: 20px; }

.botMarginSm {
  margin-bottom: 20px; }

.btn-black, .btn-black:hover {
  border: 1px solid black;
  color: black; }

.btn-black:hover {
  background: black;
  color: white; }

.fpCover {
  height: 100%;
  width: 100%;
  background: url(/images/fpCover.jpg) center center;
  background-repeat: none;
  background-size: cover; }

.fpCoverText {
  position: absolute;
  width: 340px;
  height: 150px;
  color: white;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center; }
  .fpCoverText h1 {
    font-size: 80px;
    font-family: "Lato", sans-serif;
    font-weight: 700; }
  .fpCoverText h2 {
    font-size: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 300; }

.navbar {
  padding: 1rem 1rem; }

.navbar-brand {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.footer {
  width: 100%;
  background: #5b5b5b; }
  .footer p, .footer li {
    color: #cecece;
    font-weight: 300;
    font-size: 20px; }
  .footer p {
    line-height: 57px; }
  .footer ul {
    list-style-type: none;
    padding: 0; }
  .footer li {
    margin-top: 25px;
    text-decoration: none; }
    .footer li a, .footer li a:active, .footer li a:hover, .footer li a:visited {
      font-family: "Lato", sans-serif;
      color: #cecece;
      font-weight: 300;
      text-decoration: none; }
    .footer li a:active, .footer li a:hover {
      color: gray;
      text-decoration: none;
      font-weight: 700; }
  .footer h3 {
    color: white;
    font-size: 20px; }
  .footer img {
    max-width: 275px; }

.footerNote {
  text-align: center; }
  .footerNote p {
    color: gray;
    font-size: 15px;
    margin: 0; }

.buildBanner {
  text-align: center;
  background: black; }
  .buildBanner h3 {
    font-size: 20px;
    color: white;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px; }

.buildTile a, .buildTile a:active, .buildTile a:hover, .buildTile a:visited {
  color: gray;
  font-weight: 400;
  text-decoration: none; }

.buildTile a:active, .buildTile a:hover {
  color: #cecece;
  text-decoration: none;
  font-weight: 700; }

.sideNav {
  background: #e5e5e5;
  padding-top: 20px; }

.imageBox {
  position: relative; }

.votesBox {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 10px;
  padding-right: 10px;
  background: gray;
  opacity: .7; }
  .votesBox p {
    opacity: 1;
    margin: 0; }

#navbarLogo {
  height: 30px;
  width: auto; }

#filterDropdown {
  float: right; }

#collapseExample h3 {
  font-size: 20px;
  margin-top: 10px; }

@media (max-width: 576px) {
  .fpCoverText {
    width: 250px;
    height: 110px; }
    .fpCoverText h1 {
      font-size: 60px;
      font-family: "Lato", sans-serif;
      font-weight: 700; }
    .fpCoverText h2 {
      font-size: 40px;
      font-family: "Lato", sans-serif;
      font-weight: 300; } }

@media (max-width: 1100px) {
  .footer p {
    line-height: 35px; } }

@media (min-width: 768px) {
  .bootstrap-vertical-nav .collapse {
    display: block; } }
