//Lato Font sizes: 300, 400, 700

// Variables
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
$lato: 'Lato', sans-serif;
// ==========END Variables END===========

// =========General Text Attributes========
h1, h2, h3 {
	font-family: $lato;
	font-weight: 700;
}

p, a {
	font-family: $lato;
	font-weight: 400;
}

.centerText {
	text-align: center;
}

.rightText {
	text-align: right;
}

.forceWrap {

	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;

}

.bold {
	font-weight: 700;
}

.whiteText {
	color: red;
}

.greenText {
	color: green;
}

.redText {
	color: red;
}

.yellowText {
	color: yellow;
}

.compGreen {
	color: green;
	font-weight: 700;
}

.compYellow {
	color: yellow;
	font-weight: 700;
}

.compRed {
	color: white;
	background: red;
	font-weight: 700;
}

.socialLink{
	img {
		margin-right: 10px;
	}
	#{$a-tags} {
		font-family: $lato;
		color: gray;
		font-weight: 300;
		text-decoration: none;
	}

	#{$a-tags-hover} {
		color: gray;
		text-decoration: none;
		font-weight: 700;
	}
}
// =========END General Text Attributes END=======

// =========Sizing Attributes==========
img {
	width: 100%;
	height: auto;
}
.container {
	margin-top: 40px;
}

.topPaddingSm {
	padding-top: 20px;
}

.topMarginSm {
	margin-top: 20px;
}

.botMarginSm {
	margin-bottom: 20px;
}

.botMarginLg {
	margin-bottom: 150px;
}

.floatRight {
	float: right;
}

.boxGridPadding {
	padding: 20px;
}

.showImgMax {
	max-height: 300px;
	width: auto;
}

.fullHeight {
	min-height: 100%;
}

.partThumbnail {
	height: 50px;
	width: auto;
}

.socialIcon {
	height: 32px;
	width: 32px;
}
// =========END Sizing Attributes END==========

// =========Buttons===========
button, .btn {
	border-radius: 0;
}

.btn-black {
	border: 1px solid black;
	color: black;
}

.btn-black:hover {
	@extend .btn-black;
	background: black;
	color: white;
}

.btn-black:active {
	background: gray;
}

.btn-black:focus {
	box-shadow: 0 0 0 2px rgba(208, 208, 208, 0.5);
}

.show > .btn-outline-primary.dropdown-toggle {
	background: gray;
	border-color: gray;
}
// =========END Buttons END===========

// =========Unique Classes===========
.fpCover {
	height: 100%;
	width: 100%;
	background: url(/images/fpCover.jpg) center center;
	background-repeat: none;
	background-size: cover;
}

.fpCoverText {
	position: absolute;
	width: 340px;
	height: 150px;
	color: white;
	margin: auto;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	text-align: center;
	h1 {
		font-size: 80px;
		font-family: $lato;
		font-weight: 700;
	}
	h2 {
		font-size: 50px;
		font-family: $lato;
		font-weight: 300;
	}
}

.navbar {
	padding: 1rem 1rem;
}

.navbar-brand {
	font-family: $lato;
	font-weight: 300;
}

.footer {
	width: 100%;
	background: #5b5b5b;
	
	p, li {
		color: #cecece;
		font-weight: 300;
		font-size: 20px;
	}
	p {
		line-height: 57px;
	}
	ul {
		list-style-type: none;
		padding: 0;
	}
	li {
		margin-top: 25px;
		text-decoration: none;

		#{$a-tags} {
		font-family: $lato;
		color: #cecece;
		font-weight: 300;
		text-decoration: none;

		}
		#{$a-tags-hover} {
			color: gray;
			text-decoration: none;
			font-weight: 700;
		}
	}
	h3 {
		color: white;
		font-size: 20px;
	}
	img {
		max-width: 275px;
	}
}

.footerNote {
	text-align: center;
	p {
		color: gray;
		font-size: 15px;
		margin: 0;
	}
}

.buildBanner {
	text-align: center;
	background: black;
	h3 {
		font-size: 20px;
		color: white;
		margin: 0;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.buildTile {
	#{$a-tags} {
		color: gray;
		font-weight: 400;
		text-decoration: none;

		}
	#{$a-tags-hover} {
		color: #cecece;
		text-decoration: none;
		font-weight: 700;
	}
}

.sideNav {
	background: #e5e5e5;
	padding-top: 20px;
}

.imageBox {
	position: relative;
}

.votesBox {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-left: 10px;
	padding-right: 10px;
	background: gray;
	opacity: .7;
	p {
		opacity: 1;
		margin: 0;
	}
}

.border {
	border: 1px solid black;
}

.blueBorder {
	 box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
  background: #213351;
}

.table {
	margin-top: 40px;
	.btn {
		color: white;
	}
}

.signupForm {
	label {
		color: #666666;
	}

	.inverseInput {
		opacity: .8;
		color: black;
		background: gray;
	}
}

.userPhoto {
	img {
		width: 200px;
	}
}

.errorPage {
	height: 100%;
	h4 {
		color: #cecece;
	}
}

.largeBox {
	border: 1px solid black;
	padding-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;
}

.terminal {
	color: #e2e2e2;
	background: black;
	width: 100%;
	padding: 20px;
}
// =========END Unique Classes END===========


// ==========Parallax==============
.parallax { 
	position: relative;
  /* The image used */
  background-image: url("../images/createCover.jpeg");

  /* Set a specific height */
  height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.createCoverText {
	h1 {
		position: absolute;
		margin: auto;
		color: white;
		font-size: 60px;
		width: 375px;
		height: 60px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.ascendParallax {
	@extend .parallax;
	background-image: url("../images/pcmasterrace.png");
}

.ascendCoverText {
	@extend .createCoverText;
	h1 {
		width: 400px;
		height: 100px;
		font-size: 100px;
		font-weight: 700px;
		color: gray;
		left: 0;
		right: 0;
		bottom: -134px;
		top: 0;
	}
}



.blackBackground {
	background: #d6d6d6;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
// ==========END Parallax==============

// ==========Pagination===========
.pagination {
	li {
		border: 1px solid black;
		padding: 10px;
		margin: 5px;

		a {
			padding: 10px;
		}
	}
}
// ==========Pagination===========

// =========IDs=========
#navbarLogo {
	height: 30px;
	width: auto;
}

#filterDropdown {
	float: right;
}

#collapseExample {
	h3 {
		font-size: 20px;
		margin-top: 10px;
	}
}

#tourBox {
	p {
		margin: 10px;
	}
}

#createAccountVideo {
	position: relative;
 	height: 500px;
 	width:100%;
 	overflow: hidden;
 	opacity: .9;

  video {
	  min-width: 100%;
	  min-height: 100%;
	}
}

#accountCover {
	@extend .fpCoverText;
	h1 {
		font-size: 150px;
		opacity: .3;
	}
	width: 585px;
	height: 125px;
}


// =========END IDs END=========

// =========Medias=========
@media (max-width: 576px) {
	.fpCoverText {
	width: 250px;
	height: 110px;
		h1 {
			font-size: 60px;
			font-family: $lato;
			font-weight: 700;
		}
		h2 {
			font-size: 40px;
			font-family: $lato;
			font-weight: 300;
		}
	}

	.createCoverText {
		h1 {
			font-size: 50px;
			width: 307px;
			height: 60px;
		}
	}

	.ascendCoverText {
		h1 {
			width: 200px;
			color: gray;
			left: 0;
			right: 0;
			bottom: -310px;
			top: 0;
		}
	}
}



@media (max-width: 1100px) {
	.footer {
		p {
			line-height: 35px;
		}
	}
}

@media (min-width: 768px) {
  .bootstrap-vertical-nav .collapse {
      display: block;
  }
}

@media (max-width: 768px) {
  .sideNav {
		padding: 0px;
	}
}

// =========END Medias END=========