//Lato Font sizes: 300, 400, 700

// =========General Text Attributes========
.centerText {
	text-align: center;
}
// =========END General Text Attributes END=======

// =========Sizing Attributes==========
.container {
	margin-top: 40px;
}
// =========END Sizing Attributes END==========

// =========Unique Classes===========
.fpCover {
	height: 100%;
	width: 100%;
	background: url(/images/fpCover.jpg) center center;
	background-repeat: none;
	background-size: cover;
}

.fpCoverText {
	position: absolute;
	width: 340px;
	height: 150px;
	color: white;
	margin: auto;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	text-align: center;
	h1 {
		font-size: 80px;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
	}
	h2 {
		font-size: 50px;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}
}

.navbar-brand {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
// =========END Unique Classes END===========

// =========IDs=========
#navbarLogo {
	height: 30px;
	width: auto;
}
// =========END IDs END=========